
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.test{
    border: 1px solid red;
}
.nav_sub_font{
    font-size: 12px;
}
.btn_bg{
    background-color: #f1a92b !important;
    color: #00254d;
    font-size: 18px;
    font-weight: 700;
}
.down_color{
    font-size: 10px;
    font-size: 11px;
    position: relative;
    bottom: 2px;
    color: #54c5c1;
}
.footer_list_style li{
    list-style: none;
}
.footer_list_style li a{
    text-decoration: none;
    color: white;
}
.hero_heading{
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 600;
}
.hero_heading_color{
    color:#00264d;
}
.sub_heading_color{
    color:#007aff;
}
@media only screen and (max-width: 992px){
    .schedule{
        width: calc(33.33% - 3px);
    }

    .visit-img {
        transform:translateY(0)
    }
    
    .visit-img2 {
        width: calc(100% + 0px);
    }
    #overlay-col {
        position: static !important;
    }
    .schedule {
        width: calc(33.33% - 30px);
    }
}
.Get_result{
    color: #ad4221;}
.save_hours{ 
    color: #4d2e9e;
}
.time_bg{
    background-color: #F2EDFA;
}
.back_img{
    background-image: url(./img/slider_back_img.svg);
    background-repeat: no-repeat;
}
.reating_bg{
    background-color: #0F264D;
    overflow-y: scroll;
    height: 35rem;
}
.sub_reating{
    background-color: #F8F9FA;
}
.bg_sky{
    background-color: #E6FEFE;
}
.slider_box{
    height: 21rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.book_slider_box{
    /* height: 15rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ///////////////////Book a Demo page /////////////// */
.h1_hero {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #0F264D;
}
.sub_color{
    color: #5DBEB9;
}
.bg_input{
    background-color: #F5F8FA;
    box-shadow: none !important;
}

.slick-next:before {
    content: 'F129';
}
.slick-prev:before {
    color:black !important;
  content: '\f104' !important;
  font-family: "FontAwesome"!important; 
	font-weight: 800 !important;
    font-size: 22px !important;
}
.slick-next:before {
    color:black !important;
  content: '\f105' !important;
  font-family: "FontAwesome"!important; 
	font-weight: 800;
    font-size: 22px !important;
}
.slick-next {
    background-color: #ED9620 !important;
    right: -25px;
    color: #CCB0A5  !important;
    /* border: 2px solid #CCB0A5 !important; */
    border-radius: 50% ;
    height: 35px !important;
    width: 35px !important;
}
.slick-prev {
    background-color: #ED9620 !important;
    right: -25px;
    color: #CCB0A5  !important;
    /* border: 2px solid #CCB0A5 !important; */
    border-radius: 50% ;
    height: 35px !important;
    width: 35px !important;
}
.img_rounded{
    border-radius: 7px;
}
/* SLICK SLIDER CUSTOM ARROW STYLE END */

/* why birdie pages start */
.fixed_text{
    height: 100vh;
    overflow-y: scroll;
}
.xy{
    position: sticky;
    top:30%;
}
.CUSTOMER_STORY{
    background-color: #E9EEF5;
    color: #0F264D;
    width: fit-content;
}
.CEO_font{
    font-size: 2.48rem;
    line-height: 125%;
    color: #0F264D;
}
.ALINA{
    color: #F3C363;
}
.efficiencies{
    color: #222;
    font-size: 26px;
    line-height: 140%;
    font-weight: 400;
}
.Birdie_technology{
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
}
.bg_Birdie_technology{
    background-color: #FCF1DC;
}
.fixed_heading{
    color: #222;
    font-size: 30px;
    line-height: 110%;
    font-weight: 400;
}
.fixed_ph{
    color: #777;
    font-size: 16px;
}
.h1_hero1 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #0F264D;
}
/* why birdie pages end */
/* what happing style start */
    .happing_background_img{
        background-image: url(./background-imges/what_happing_background.svg);
        height: 100vh;
        /* max-width: 1200px; */
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: auto;
    }
/* what happing style end */
/* nadia css start */
/* ----------------  background colors ----------  */

.blue-bg{
    background-color: #00264d;
}
.whi-bg{
    background-color: #F3F7FD;
}
.bg-ros{
    background-color: #DDE3EC;
}
.care-bg{
    background-color: #E2F5F5;
}
.light-bg{
    background-color: #F3F7FD;
}
.bg-web{
    background-color: #E6FEFE;
}
.f-bg{
    background-color: #b2f5ff;
}
.bg-spa{
    background-color: #FFEDCE;
}
.red-bg{
    background-color: #FFF0E3;
}

/* ---------------- colors --------------  */
.blue-cl{
    color: #00264d;
}
.grey-light{
    color: #54C5C1;
}
.brw-cl{
    color: #ad4221;
}

/* ---------------- other styles --------------- */
.m-h{
    min-height: 100vh;
}

.visit-img{
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.visit-img2{
    width: calc(100% + 100px);
    object-fit: cover;
}

.bor-m{
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.ch-tool{
    object-fit: cover;
    max-width: 650px;
}
.click-img{
  max-width: 100px;
  object-fit: cover;
}
.schedule {
    width: calc(20% - 30px);
    margin: 0 15px;
}
.invert-img{
    max-width: 400px;
    object-fit: contain;
}
.invert2-img{
    max-width: 200px;
    object-fit: contain;
}
.bor-rad{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}
.more-img{
    object-fit: cover;
}

.built-img{
    height: 60px;
    width: 60px;
    object-fit: contain;
}
.list-group-item.active{
    background-color: #FFEDCE !important;
    color: #F1AB2F !important;
}
.overflow-sc{
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden
}
.img-h{
    height: 30px !important;
    object-fit: cover
}
.p-ab{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slick-dots li button:before{
    font-size: 24px !important;
    top: 24px !important;
    color: orangered !important;
}
/* ----------------  background colors ----------  */

.red-bg{
    background-color: #FFF0E3;
}
.pur-bg{
    background-color: #F2EDFA;
}
.pur-bg2{
    background-color: #DED6F2;
}
.grey-light-bg{
    background-color: #54C5C1;
}

/* ---------------- colors --------------  */
.brw-cl{
    color: #ad4221;
}
.pb-cl{
    color: #4D5EC1;
}

/* ---------------- other styles --------------- */


.invert3-img{
    max-width: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.overflow-sc2{
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden
}
.overflow-sc2::-webkit-scrollbar {
    width: 0px;
  }
.overflow-sc2::-webkit-scrollbar-thumb {
    background: red; 
  }

.back_img3{
    background-image: url(/img/regulatory.svg);
    background-repeat: no-repeat;
    background-position: center;
} 
.you-i iframe{
    height: 650px;
    width: 100%
}

.started-sec .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 24px;
}

/* nadia css end */
@media only screen and (max-width: 1124px){
    .you-i iframe{
        height: 550px;
        width: 100%
    }
}
@media only screen and (max-width: 992px){
    
    .you-i iframe{
        height: 400px;
        width: 100%
    }
}

@media only screen and (max-width: 768px){
    .schedule {
        width: calc(50% - 30px);
    }
}
@media only screen and (max-width: 577px){
    .schedule {
        width: calc(100% - 0px);
        margin:0
    }
    .you-i iframe{
        height: 300px;
        width: 100%
    }
}

@media screen and (max-width: 480px) {
    .hero_heading{
        font-size: 2rem;
    }
    .head_ph{
        font-size: 14px;
    }
    .card_heading{
        font-size: 17px;
        font-weight: 700;
    }
    .btn_bg{
        font-size: 13px;
    }
    .h1_hero {
        font-size: 2rem;
    }
    .CEO_font{
        font-size: 1.90rem;
        line-height: 125%;
    }
    .efficiencies{
        color: #222;
        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
    }
    .fs_did_you{
        font-size: 18px;
    }
    .Birdie_technology{
        font-size: 1.50rem;
        line-height: 1.5;
        font-weight: 600;
    }
    .fixed_heading{
        color: #222;
        font-size: 22px;
        line-height: 110%;
        font-weight: 400;
    }
    .fixed_ph{
        color: #777;
        font-size: 14px;
    }
    .h1_hero1 {
        font-size: 28px;
    }
  }
